rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if true;
    }

    match /users/{userId}/posts/{postId} {
    	allow read: if true;
    }

    match /users/{userId}/{documents=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId
    }

    match /users/{userId}/following/{following}{
    	allow read,write,update,get: if true;
    }

    match /users/{userId}/followers/{followers}{
    	allow read,write,update,get: if true;
    }

    match /users/{userId}/bio/{bio}{
    	allow read,write,update,get: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
